body {
  /* background-color: #93abd3; */
  /* text-align: center; */
  margin: 0;
  background-color: #e8e8e8;
}

hr {
  border-top: dotted 10px;
  width: 10%;
  color: #34626c;
}

/* INTRO SECTION */
#intro {
  background-color: #93abd3;
  width: 100%;
  padding-bottom: 200px;
  text-align: center;
}

.intro-text {
  font-size: 7rem;
  color: #ec5858;
  font-family: 'Great Vibes', cursive;
  margin-top: 150px;
  margin-bottom: 0;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  color: #edf285;
  margin-top: 0;
}

.cloud-1 {
  position: relative;
  top: 100px;
  left: 450px;
}

.cloud-2 {
  position: relative;
  top: 500px;
  right: 400px;
}

.mid {
  width: 100%;
  height: 600px;
}

/* BIO SECTION */
#bio {
  padding-top: 50px;
  padding-bottom: 70px;
}

.mahmoud-image {
  width: 20%;
  position: relative;
}

.bio-text {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #313833;
  line-height: 2;
}

.heading-text {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #66BFBF;
  font-size: 3rem;
}

/* SERVICES SECTION */
#services {
  padding-top: 50px;
  padding-bottom: 70px;
}

/* SKILLS SECTION */
#skills {
  padding-top: 50px;
  padding-bottom: 70px;
}

.skills-list {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: 20px;
}

.skills-image {
  float: right;
  width: 650px;
  height: 400px;
  position: relative;
  right: 100px;
}

/* CONTACT ME SECTION */
#contact-me {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}

.contact-paragraph {
  font-size: 1.5rem;
  color: #66BFBF;
  margin-top: 30px;
  font-weight: 500;
}

.container-contact-me {
  text-align: center;
}

.contact-me-text {
  font-size: 1.5rem;
}

.font-awesome {
  position: relative;
  top: 7px;
}

.button-send-email {
  margin-top: 20px;
}

/* CERTIFICATES SECTION */
#certificates {
  padding-top: 50px;
  padding-bottom: 70px;
}

.cca-images {
  margin: 50px 20px;
}

.university-logo {
  margin-top: 50px;
}

.container-certificates {
  text-align: left;
}

/* FOOTER SECTION */
#footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #66BFBF;
  text-align: center;
}

.footer-copyright-text {
  color: white;
  margin-bottom: 0;
}
